.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 25px;
  left: 36px;
  top: 25px;
}
.bm-burger-bars {
  background: #373a47;
}
.bm-burger-bars-hover {
  background: #a90000;
}
.bm-cross-button {
  height: 24rem;
  width: 24rem;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
.bm-menu {
  background: #f1f2f5;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 20%;
  box-sizing: border-box;
  overflow: auto;
  width: 80%;
  border-top-right-radius: 1rem;
  background: rgb(74, 202, 241);
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8rem;
}
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 2rem;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}
.bm-item:hover {
  color: #ffffff;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}